$Primary-100: #F5FEE7;
$Primary-200: #E8FEC5;
$Primary-300: #C0FA73;
$Primary-400: #57A203;
$Primary-500: #477A11;

$Neutral-0: #FFFFFF;
$Neutral-100: #FFFFFF;
$Neutral-200: #E9ECEF;
$Neutral-300: #DEE2E6;
$Neutral-400: #CED4DA;
$Neutral-500: #ADB5BD;
$Neutral-600: #6C757D;
$Neutral-700: #495057;
$Neutral-800: #343A40;
$Neutral-900: #212529;

$Danger-100: #FCF1F1;
$Danger-200: #EBA7A7;
$Danger-300: #E9ECEF;

$Warning-100: #FEF6EC;
$Warning-200: #F9C588;
$Warning-300: #F38B12;

$Success-100: #EFF8F4;
$Success-200: #9AD1BA;
$Success-300: #36A375;

$Info-100: #EEF5FC;
$Info-200: #97C3ED;
$Info-300: #3087DB;