// padding
.p-8{
    padding: 8px;
}
.py-12{
    padding: 12px 0;
}
.py-16{
    padding: 16px 0;
}
.py-32{
    padding: 32px 0;
}
.py-33{
    padding: 33.5px 0;
}
.py-48{
    padding: 48px 0;
}
.py-64{
    padding: 64px 0;
}
.px-4{
    padding: 0 4px;
}
.px-12{
    padding: 0 12px;
}
.ps-8{
    padding-left: 8px;
}
.pb-4{
    padding-bottom: 4px;
}
.pb-8{
    padding-bottom: 8px;
}
.pb-12{
    padding-bottom: 12px;
}
.pb-16{
    padding-bottom: 16px;
}
.pb-20{
    padding-bottom: 20px;
}
.pb-32{
    padding-bottom: 32px;
}
.pb-48{
    padding-bottom: 48px;
}
.pe-8{
    padding-right: 8px;
}
.pe-24{
    padding-right: 24px;
}
.pt-32{
    padding-top: 32px;
}

// margin
.me-8{
    margin-right: 8px;
}
.me-12{
    margin-right: 12px;
}
.me-40{
    margin-right: 40px;
}
.me-48{
    margin-right: 48px;
}
.mb-8{
    margin-bottom: 8px;
}
.mb-12{
    margin-bottom: 12px;
}
.mb-24{
    margin-bottom: 24px;
}
.mb-32{
    margin-bottom: 32px;
}
.mb-48{
    margin-bottom: 48px;
}
.mt-48{
    margin-top: 48px;
}


// gap
.gap-8{
    gap: 8px;
}