<footer class="py-64">
        <div class="container">
            <nav class="d-flex align-items-center justify-content-between mb-24">
                <a href="index.html"><img src="../assets/images/product/Logo.png" alt="logo" /></a>
                <ul class="d-flex">
                    <li class="me-40"><a href="# ">商品列表</a></li>
                    <li><a href="# ">品牌故事</a></li>
                </ul>
            </nav>
            <div class="copyRight textp-s text-center pt-32">
                <p>Copyright ©2025 URBNSTYLE</p>
                <p>All Rights Reserved.</p>
            </div>
        </div>
    </footer>